<restlet scriptid="{{.ScriptId}}">
  <description>{{.Description}}</description>
  <isinactive>F</isinactive>
  <name>{{.ScriptName}}</name>
  <notifyadmins>F</notifyadmins>
  <notifyemails></notifyemails>
  <notifyowner>T</notifyowner>
  <notifyuser>F</notifyuser>
  <scriptfile>[{{.ScriptPath}}]</scriptfile>
  <scriptdeployments>
    <scriptdeployment scriptid="{{.DeploymentId}}">
      <allemployees>F</allemployees>
      <allpartners>F</allpartners>
      <allroles>T</allroles>
      <audslctrole></audslctrole>
      <isdeployed>T</isdeployed>
      <loglevel>ERROR</loglevel>
      <status>RELEASED</status>
      <title>{{.ScriptName}}</title>
    </scriptdeployment>
  </scriptdeployments>
</restlet>